<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tarea Fabricante</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/amelia/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>

	</head>

	<body>
		<div class="container">

			<div class="hero-unit">
				<h1>Tarea Fabricante</h1>
				<p>
					Do you need to calm down your teacher? Do you need to send him some rubbish file that looks like word document?
				</p>
				<p>
					Tarea Fabricante will easily generate you the file that you desperately need, so you will have time to actually do your 'work'.
				</p>
				<br />
				<form class="well alert-success" action="" method="post">
					<label>File name</label>
					<input type="text" class="span3" name="filename" placeholder="e.g.: Homework" >
					<div class="control-group">
						<label for="Extension" class="control-label">Extension</label>
						<div class="controls">
							<select id="extension" name="extension">
								<option>.doc</option>
								<option>.docx</option>
								<option>.ppt</option>
								<option>.pdf</option>
							</select>
						</div>
					</div>

					<label>File size in megabytes</label>
					<input type="text" class="span3" name="size" placeholder="e.g.: 1" >
					<br />

					<button type="submit" class="btn">
						Generate
					</button>
				</form>

			</div>

			<hr>

			<footer>
				<p>
					By <a href="http://visgean.github.com">Visgean Skeloru</a>
				</p>
			</footer>

		</div>
		<!-- /container -->

	</body>
</html>
